<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-control" content="public">
    <title>
        ADD FIles
    </title>
    <script rel="javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/default.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />

</head>
<style>
    .errorlist{
    border: 2px red solid;
    background-color: yellow
}
</style>
<body style="background-color:#ecf0f3">
    {% load static %}
    <div class="container-fluid d-flex justify-content-center align-content-center align-items-center">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-lg-8 col-sm-12 col  p-4">
                    <h4 class="text text-center"><b>ADD THE AADHAR PDF FILE</b></h4>
                    <div class="card border border-dark shadow-0 " style="background-color:#ecf0f3;">
                            {% if messages %}
                            {% for message in messages %}
                                    <div id="alert" class="alert {% if message.tags %}alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}{{ message.tags }}{% endif %}{% endif %}" role="alert"  >{{ message }}</div>
                            {% endfor %}
                            {% endif %}
                        <div class="card-body">
                            <p id="card-text">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" style="background-color:#ecf0f3;">
                                    <form method="POST" action="/add-deatils/" enctype="multipart/form-data" onsubmit="display();" >
                                    {%csrf_token%}
                                    {{ form.as_p }}
                                    <button type="submit" class="btn btn-success" id="submit_btn"
                                    data-mdb-ripple-color="#ffffff" name="option" value="child" >Submit<i
                                        class="fas fa-baby fa-2x"></i></button>
                                    </form>    
                                    <div id="spinner" style="display:none;">
                                        Extracting Please Wait 
                                        <div class="spinner-border text-primary" role="status"><span class="visually-hidden"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>
        body {
            background-color: #ecf0f3 !important;
            padding: 0;
            margin: 0;
        }

        .col {
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff !important;
            border-radius: 15px;
        }
</style>   
<script>
    function display(){
        document.getElementById("submit_btn").style.display = "none"
        document.getElementById("spinner").style.display = "block"
    }    
    setTimeout(function () {
        $('#alert').alert('close');
    }, 8000);
</script>

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>

</html